[Desktop Entry]
Version=1.0
Type=Application
Name=GIMP Edición Quirinux
GenericName=Image Editor
GenericName[ar]=محرر صور
GenericName[ast]=Editor d'imaxe
GenericName[be]=Рэдактар відарысаў
GenericName[bg]=Редактор на изображения
GenericName[br]=Embanner skeudennoù
GenericName[bs]=Obrada slika
GenericName[ca]=Editor d'imatges
GenericName[ca@valencia]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=གཟུགས་བརྙན་ ཞུན་དག་པ།
GenericName[el]=Επεξεργαστής εικόνων
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bildredaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvankäsittely
GenericName[fr]=Éditeur d’image
GenericName[gd]=Deasaiche dhealbhan
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hr]=Uređivač slika
GenericName[hu]=Képszerkesztő
GenericName[id]=Penyunting Gambar
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Modifica immagine
GenericName[ja]=画像エディター
GenericName[ka]=გამოსახულებების რედაქტორი
GenericName[kk]=Суреттерді өңдеу қолданбасы
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[kn]=ಚಿತ್ರ ಸಂಪಾದಕ
GenericName[ko]=이미지 편집기
GenericName[ky]=Сүрөт редактору
GenericName[lt]=Paveikslėlių rengyklė
GenericName[lv]=Attēlu redaktors
GenericName[mk]=Уредник за слики
GenericName[mr]=प्रतिमा संपादक
GenericName[my]=ရုပ်ပုံ တည်းဖြတ်ကိရိယာ
GenericName[nb]=Bildebehandler
GenericName[nds]=Billbewarker
GenericName[ne]=छवि सम्पादक
GenericName[nl]=Editor Afbeeldingen
GenericName[nn]=Bilethandterar
GenericName[oc]=Editor d'imatge
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazów
GenericName[pt]=Editor de imagens
GenericName[pt_BR]=Editor de imagens
GenericName[ro]=Editor de imagini
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Обрада фотографија
GenericName[sr@latin]=Obrada slika
GenericName[sv]=Bildredigerare
GenericName[ta]=பிம்ப திருத்தி
GenericName[te]=బొమ్మ కూర్పకము
GenericName[th]=เครื่องมือแก้ไขภาพ
GenericName[tr]=Görüntü Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_HK]=圖片編輯器
GenericName[zh_TW]=影像編輯器

Comment=Graphic editor similar to Adobe Photoshop (RGB)
Comment[de]=Grafikeditor ähnlich wie Adobe Photoshop (RGB)
Comment[es]=Editor gráfico similar a Adobe Photoshop (RGB)
Comment[gl]=Editor gráfico similar a Adobe Photoshop (RGB)
Comment[fr]=Éditeur graphique similaire à Adobe Photoshop (RGB)
Comment[pt]=Editor gráfico semelhante ao Adobe Photoshop (RGB)
Comment[it]=Editor grafico simile ad Adobe Photoshop (RGB)
Comment[ru]=Графический редактор, аналогичный Adobe Photoshop (RGB)

# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=GIMP;graphic;design;illustration;painting;
Keywords[ar]=GIMP;graphic;design;illustration;painting;
Keywords[ca]=GIMP;gràfics;disseny;il·lustració;dibuix;
Keywords[ca@valencia]=GIMP;gràfic;disseny;il·lustració;pintura;
Keywords[da]=GIMP;grafisk;design;illustration;male;tegne;
Keywords[de]=GIMP;Grafik;Design;Illustration;Malen;
Keywords[el]=GIMP;γραφικό;σχεδίαση;επεξήγηση;βαφή;
Keywords[es]=GIMP;gráfico;diseño;ilustración;dibujo;
Keywords[eu]=GIMP;irudia;diseinua;ilustrazioa;margotzea;
Keywords[fi]=GIMP;grafiikka;maalaus;suunnittelu;valokuva;kuva;
Keywords[fr]=GIMP;graphisme;conception;design;illustration;image;peinture;
Keywords[gl]=GIMP;gráfico;deseño;ilustración;debuxo;
Keywords[hr]=GIMP;grafika;dizajn;ilustrcija;slikanje;
Keywords[hu]=GIMP;grafika;dizájn;tervezés;illusztráció;festés;
Keywords[is]=GIMP;mynd;hönnun;myndskreyting;málun;myndvinnsla;
Keywords[it]=GIMP;grafica;design;illustrazioni;disegno;fotoritocco;
Keywords[lv]=GIMP;grafika;dizains;ilustrācija;glezna;
Keywords[mr]=गिम्पसाठी;ग्राफिक्स;रचना;उदाहरण;चित्रकला
Keywords[nl]=GIMP;grafisch;ontwerp;illustratie;tekenen;
Keywords[pl]=GIMP;grafika;graficzny;design;dizajn;projektowanie;wzornictwo;ilustracja;ilustrowanie;rysunek;rysowanie;rysownictwo;malowanie;malarstwo;obrazy;obrazki;fotografia;zdjęcia;retuszowanie;renderowanie;wtyczki;
Keywords[pt]=GIMP;gráficos;design;desenho;ilustração;pintura;
Keywords[pt_BR]=GIMP;gráficos;design;ilustração;pintura;
Keywords[ru]=GIMP;графика;дизайн;иллюстрация;рисование;
Keywords[sk]=GIMP;grafika;grafický;návrh;dizajn;ilustrácia;kresba;maľovanie;maľba;
Keywords[sl]=GIMP;grafika;oblikovanje;ilustracija;slikanje;
Keywords[sr]=Гимп;обрада фотографија;графика;дизајн;илустрација;цртање;obrada fotografija;grafika;dizajn;ilustracija;crtanje;GIMP;graphic;design;illustration;painting;
Keywords[sv]=GIMP;grafik;design;illustrera;målning;rita;
Keywords[uk]=GIMP;graphic;design;illustration;painting;гімп;ґімп;графіка;дизайн;ілюстрації;малювання;
Keywords[zh_CN]=GIMP;图形;设计;绘画;graphic;design;illustration;painting;
Exec=gimp-2.10 %U
TryExec=gimp-2.10
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.10.8
X-GNOME-Bugzilla-OtherBinaries=gimp-2.10
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/tiff;image/jpeg;image/x-psp;application/postscript;image/png;image/x-icon;image/x-xpixmap;image/x-exr;image/x-webp;image/heif;image/heic;image/svg+xml;application/pdf;image/x-wmf;image/jp2;image/x-xcursor;
