[Desktop Entry]
Type=Application
Name=Configure GIMP
Name[en_GB]=Configure GIMP
Name[es]=Configurar GIMP
Name[gl]=Configurar GIMP
Name[fr]=Configurer GIMP
Name[it]=Configura GIMP
Name[de]=Konfigurieren Sie GIMP
Name[pt]=Configurar o GIMP
Name[pt_BR]=Configurar o GIMP
GenericName=Configure GIMP
GenericName[en_GB]=Configure GIMP
GenericName[es]=Configurar GIMP
GenericName[gl]=Configurar GIMP
GenericName[fr]=Configurer GIMP
GenericName[it]=Configura GIMP
GenericName[de]=Konfigurieren Sie GIMP
GenericName[pt]=Configurar o GIMP
GenericName[pt_BR]=Configurar o GIMP
Comment=Modify the appearance and keyboard shortcuts
Comment[en_GB]=Modify the appearance and keyboard shortcuts
Comment[es]=Modifica el aspecto y los atajos de teclado
Comment[gl]=Modifique os atallos de teclado e aspecto
Comment[fr]=Modifier l'apparence et les raccourcis clavier
Comment[it]=Modifica l'aspetto e le scorciatoie da tastiera
Comment[de]=Ändern Sie das Erscheinungsbild und die Tastaturkürzel
Comment[pt_BR]=Modifique a aparência e os atalhos do teclado
Comment[pt]=Modifique a aparência e os atalhos do teclado
Icon=gimp-quirinux
Exec=sudo gimp-quirinux
Keywords=GIMP;Photoshop;
Categories=Graphics;Other;GNOME;KDE;GTK;
Terminal=false
NoDisplay=false
StartupNotify=true
Encoding=UTF-8
